@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

.in1{
  outline: none;
  border: none;
  border-radius: 4px;
}

.btn1{
  border: none;
  background-color: rgb(53, 130, 130);
  border-radius: 3px;
  cursor: pointer;
  height:1.3rem;
  width:3rem;
  color: white;
  box-shadow: 2px 2px 6px 0px black;
  margin-left: 3px;
}
.btn1:hover{
  scale: 1.1;
}